{% if post.comment %}
<h2 id="comments">Comments</h2>
{% if site.intensedebate_shortname %}
<!-- intensedebate评论 -->
<script>
    var idcomments_acct = '{{site.intensedebate_shortname}}';
    var idcomments_post_id;
    var idcomments_post_url;
</script>
<span id="IDCommentsPostTitle" style="display:none"></span>
<script type='text/javascript' src='https://www.intensedebate.com/js/genericCommentWrapperV2.js'></script>
{% endif %}
{% else %}
<h2 id="comments">Comments</h2>
<p>评论已关闭</p>
{% endif %}