<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include header.html %}
    {{ content }}
    {% include footer.html %}
    {% include backToTop.html %}
    <script defer src="/js/smooth-scroll.min.js" charset="utf-8"></script>
    <script defer src="/js/main.min.js" charset="utf-8"></script>
    <script>
      (function() {
        if('serviceWorker' in navigator) {
            navigator.serviceWorker.register('/sw.js');
        }
      })()
    </script>{% if page.url != '/' %}
    <script>
      (function() {
        setFixedCls()
        setContentClick()
      })()
    </script>{% endif %}
  </body>
</html>
